{% extends "error_catcher.html" %}

{% block title %}Reservations{% endblock %}
{% block content %}
    <section id="cancel-reservation-screen" class="current screen">
      <div class="titlebar">
        <a class="back" href="{{ return_url }}">Back</a>
        <h1>Cancel Reservation</h1>
      </div>
      
      <p class="info">Are you sure you want to cancel your reservation for a {{ reservation.vehicle.model.name }} at {{ reservation.vehicle.pod.name }} from {{ reservation.start_time|time }}, {{  reservation.start_time|date }} until {{ reservation.end_time|time }}, {{ reservation.end_time|date }}?</p>
      <ul>
        <li>
          <form action="confirm_cancellation" method="GET">
            <input type="hidden" name="reservation" value="{{ reservation.liveid }}" />
            <input type="hidden" name="vehicle" value="{{ reservation.vehicle.id }}" />
            <input type="hidden" name="start_time" value="{{ reservation.start_time|date:"Y-m-d\TH:i" }}" />
            <input type="hidden" name="end_time" value="{{ reservation.end_time|date:"Y-m-d\TH:i" }}" />
            <button type="submit">Yes, Cancel!</button>
          </form>
        </li>
      </ul>
    </section>
{% endblock %}

