{% extends "error_catcher.html" %}

{% block title %}Create Reservation{% endblock %}
{% block content %}
    <section id="confirm-reservation-screen" class="screen">
      <div class="titlebar">
        <a class="back" href="my_session">Home</a>
        <h1>Your Reservation</h1>
      </div>
      
      <h2>You have reserved...</h2>
      <ul>
        <li>
          <label>Vehicle:</label>
          <span>{{ vehicle_availability.vehicle.model.name }}</span>
        </li>
        <li>
          <label>Pod:</label>
          <span>{{ vehicle_availability.vehicle.pod.name }}</span>
        </li>
        <li>
          <label>Starting:</label>
          <span>{{ vehicle_availability.start_time|date:"g:iA, D M d, Y" }}</span>
        </li>
        <li>
          <label>Ending:</label>
          <span>{{ vehicle_availability.end_time|date:"g:iA, D M d, Y" }}</span>
        </li>
        <li>
          <label>Total price:</label>
          <span>${{ vehicle_availability.price.total_amount }}?</span>
        </li>
      </ul>
    </section>
{% endblock %}

