{% extends "error_catcher.html" %}

{% block title %}Create Reservation{% endblock %}
{% block content %}
    <form id="create-reservation-screen" class="screen"
          method="GET" action="confirm_reservation">
      <div class="titlebar">
        <a class="back" href="{{ return_url }}">Cancel</a>
        <h1>Reserve</h1>
      </div>
      
      <p class="info">Do you want to reserve a {{ vehicle_availability.vehicle.model.name }} at {{ vehicle_availability.vehicle.pod.name }} from {{ vehicle_availability.start_time|date:"g:iA, D M d, Y" }} until {{ vehicle_availability.end_time|date:"g:iA, D M d, Y" }} for a total of ${{ vehicle_availability.price.total_amount }}?</p>
      
      <input type="hidden" name="vehicle" value="{{ vehicle_availability.vehicle.id }}" />
      <input type="hidden" name="start_time" value="{{ vehicle_availability.start_time|date:"Y-m-d\TH:i" }}" />
      <input type="hidden" name="end_time" value="{{ vehicle_availability.end_time|date:"Y-m-d\TH:i" }}" />
      
      <ul class="rounded screenparams">
        <li><label>Memo</label> <span><input type="text" name="memo" maxlength="25" /></span></li>
      </ul>
      
      <ul>
        <li><button type="submit">Yes, Reserve!</button</li>
      </ul>
    </form>
{% endblock %}

