{% extends "error_catcher.html" %}

{% block title %}Reservations{% endblock %}
{% block content %}
    <section id="my-reservations-screen" class="screen">
      <div class="titlebar">
        <a class="back" href="my_session">Home</a>
        <h1>Reservations</h1>
        <!--button type="submit">Update</button-->
      </div>
      
      <!--ul class="edgetoedge">
        <li>
          <select name="period">
            <option value="" 
              {% if not selected_period %}
                selected="selected"
              {% endif %}>Now & Later</option>
            {% for period in periods %}
            <option value="{{ period|date:"Y-m" }}"
              {% ifequal selected_period.month period.month %}
                selected="selected"
              {% endifequal %}>{{ period|date:"F, Y" }}</option>
            {% endfor %}
          </select>
        </li>
      </ul-->
      
      <ul class="rounded reservations">
      {% for reservation in reservation_list.reservations %}
        <li>
          <span>{{ reservation.vehicle.model.name }} at {{ reservation.vehicle.pod.name }}</span>
          <span class="reservation-time">from {{ reservation.start_time|time }}, {{ reservation.start_time|date }}</span>
          <span class="reservation-time">until {{ reservation.end_time|time }}, {{ reservation.end_time|date }}</span>
          <span class="reservation-price">for ${{ reservation.price.total_amount }}</span>
          
          {% ifequal reservation.status 0 %}
            <form method="GET" action="edit_reservation">
              <input type="hidden" name="start_time" value="{{ reservation.start_time|date:"Y-m-d\TH:i" }}" />
              <input type="hidden" name="end_time" value="{{ reservation.end_time|date:"Y-m-d\TH:i" }}" />
              <input type="hidden" name="status" value="{{ reservation.status }}" />
              <input type="hidden" name="reservation" value="{{ reservation.liveid }}" />
              <button type="submit">Edit</button>
            </form>
          {% endifequal %}
          
          {% ifequal reservation.status 1 %}
            <form method="GET" action="edit_reservation">
              <input type="hidden" name="start_time" value="{{ reservation.start_time|date:"Y-m-d\TH:i" }}" />
              <input type="hidden" name="end_time" value="{{ reservation.end_time|date:"Y-m-d\TH:i" }}" />
              <input type="hidden" name="status" value="{{ reservation.status }}" />
              <input type="hidden" name="reservation" value="{{ reservation.liveid }}" />
              <button type="submit">Edit</button>
            </form>
            <form method="GET" action="cancel_reservation">
              <input type="hidden" name="start_time" value="{{ reservation.start_time|date:"Y-m-d\TH:i" }}" />
              <input type="hidden" name="end_time" value="{{ reservation.end_time|date:"Y-m-d\TH:i" }}" />
              <input type="hidden" name="status" value="{{ reservation.status }}" />
              <input type="hidden" name="reservation" value="{{ reservation.liveid }}" />
              <input type="hidden" name="vehicle" value="{{ reservation.vehicle.id }}" />
              <input type="hidden" name="model_name" value="{{ reservation.vehicle.model.name }}" />
              <input type="hidden" name="pod_name" value="{{ reservation.vehicle.pod.name }}" />
              <input type="hidden" name="return_url" value="{{ reflect_url }}" />
              <button type="submit">Cancel</button>
            </form>
          {% endifequal %}
        </li>
      {% endfor %}
      </ul>
    </section>
{% endblock %}

