{% extends "error_catcher.html" %}

{% block title %}Home{% endblock %}
{% block content %}
    <div id="home-screen" class="current screen">
      <div class="titlebar">
        <h1>{{ session.name }}</h1>
      </div>
      
      <ul class="rounded">
        <li><a id="create-reservation-link" href="choose_vehicle">Make a Reservation</a></li>
        <li><a id="view-reservations-link" href="my_reservations">See My Reservations</a></li>
        <!--li>Submit Gas Receipt</li>
        <li>Key to the City</li-->
      </ul>
    </div>
{% endblock %}

