/*
 * General Styles
 * --------------
 * Screen body, headers, paragraphs, lists of fields and links, etc.
 */
body {
  background-color: #CAEDA6;
  color: #404040;
  font-family: Helvetica, Arial, Sans;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  padding-top: 3em;
}

/* 
 * Header
 */

.titlebar {
  -webkit-box-shadow: black 0em 0em 0.2em;
  background-color: #69be56;
  border-bottom: 1px solid #27531F;
  color: #CAEDA6;
  height: 3em;
  left: 0em;
  margin: 0em;
  position: fixed;
  top: 0em;
  width: 100%;
}

.titlebar a, .titlebar button {
  color: white;
  display: block;
  font-size: 0.8em;
  height: 100%;
  line-height: 3.75em;
  position: absolute;
  text-shadow: rgba(0, 0, 0, 0.3) 0px -1px 0;
  top: 0px;
  vertical-align: middle;
  width: auto;
}

.titlebar .back {
  left: 0px;
  margin-left: 5px;
}

.titlebar button {
  background: none;
  right: 0px;
  margin-right: 5px;
}

.titlebar h1 {
  font-size: 1.25em;
  height: 100%;
  line-height: 2.4em;
  margin: 0px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  text-shadow: rgba(0, 0, 0, 0.5) 0 -1px 1px;
  vertical-align: middle;
}

/*
 * Unstyle form fields
 */
button, input[type="text"], input[type="password"] {
  border: none;
  background: none;
  color: black;
  display: block;
  font: inherit;
  margin: 0em;
  padding: 0em;
}

select {
  border: none;
  background: none;
  font: inherit;
  display: inline-block;
}

/*
 * General Screen Content
 */
.screen > h2 {
  margin: 0.6em 0.3em 0.3em 0.3em;
  font-size: 1.1em;
  font-weight: bold;
  text-shadow: rgba(255, 255, 255, 0.2) 0 1px 1px;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0em;
  padding: 0em;
}

.screen > p {
  margin: 0.6em;
}

.info {
  background-color: #F0F0F0;
  font-size: 0.8em;
  font-weight: bold;
  line-height: 1.25em;
  margin: 0em;
  padding: 0.6em;
  text-align: center;
  text-shadow: #CAEDA6 0 1px 0;
}

/*
 * Lists
 * -----
 * All lists render as tables.  Each list item is a table row and each child
 * thereof is a table cell.  Avoid giving the cells any left or right margin,
 * as the border above and below the rows is not on the rows, but the cells.
 */
ul {
  background-color: #F8F8F8;
  border: 1px solid grey;
  display: table;
  margin: 10px;
  padding: 0px;
}

ul > li {
  display: table-row;
}

ul > li > * {
  border-bottom: 1px solid grey;
  display: table-cell;
  padding: 0.6em;
  vertical-align: middle;
}

ul > li:last-child > * {
  border: none;
}

/* These lists extend from one side of the screen to the other. */
ul.edgetoedge {
  border-width: 1px 0px;
  margin: 0px;
  width: 100%;
}

/* These lists have rounded edges. */
ul.rounded {
  -webkit-border-radius: 5px;
  margin: 3%;
  width: 94%;
}

input[type="text"], input[type="password"] {
  text-align: right;
  width: 100%;
}

fieldset {
  border: none;
  margin: 0px;
  padding: 0px;
}

select.month, select.hour {
  width: 40%;
  text-align: right;
}

select.year, select.midi {
  width: 40%;
}

select.day, select.minute {
  width: 20%;
  text-align: center;
}

button .vehicle-name {
  display: inline-block;
}

button .availability {
  color: #404040;
  display: block;
  font-size: 12px;
  padding-left: 5px;
}

button:hover {
  cursor: pointer;
}

button[disabled="disabled"] {
  color: #808080;
  text-decoration: line-through;
}

.hidden {
  display: none;
}

/* Here are the styles for parameters at the top of a screen, e.g. on the 
 * 'Choose a Vehicle' screen.
 */
ul.screenparams {
  display: block !important;
}

ul.screenparams li {
  display: table-row;
}

ul.screenparams li label, ul.screenparams li a, ul.screenparams li span {
/*  border-top: 1px solid grey;*/
  display: table-cell;
  padding: 10px;
}

ul.screenparams li a, ul.screenparams li span {
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  width: 100%;
}

.reservation-field {
  font-size: 12px;
  display: block;
  text-align: right;
}

.reservation-start:before {
  content: 'from ';
}

.reservation-end:before {
  content: 'until ';
}

.reservation-price:before {
  content: 'for ';
}

.reservation-memo {
  text-align: left;
}

