body {
  background-color: #E0E0E0;
  color: #404040;
  font-family: Helvetica, Arial, Sans;
  font-size: 16px;
  margin: 0px;
  padding: 0px;
  padding-top: 40px;
}

.titlebar {
  -webkit-box-shadow: black 0px 0px 3px;
  background-color: #40A0E0;
  border-bottom: 1px solid #205070;
  color: #E0E0E0;
  height: 40px;
  position: fixed;
  top: 0px;
  width: 100%;
}

.titlebar a, .titlebar button {
  color: white;
  font-size: 14px;
}

h2 {
  margin: 15px 5px 5px 5px;
  font-size: 18px;
}

.titlebar h1 {
  font-size: 20px;
  height: 100%;
  line-height: 40px;
  margin: 0px;
  overflow: hidden;
  text-align: center;
  text-overflow: ellipsis;
  vertical-align: middle;
}

.titlebar .back {
  display: block;
  height: 100%;
  left: 0px;
  line-height: 40px;
  margin-left: 5px;
  position: absolute;
  top: 0px;
  vertical-align: middle;
  width: auto;
}

.titlebar button {
  display: block;
  background: none;
  right: 0px;
  line-height: 40px;
  margin-right: 5px;
  position: absolute;
  top: 0px;
  vertical-align: middle;
  width: auto;
}

.info {
  background-color: #F0F0F0;
  font-size: 14px;
  margin: 0px;
  padding: 10px;
}

ul {
  background-color: #F8F8F8;
  border: 1px solid grey;
  margin: 10px;
  padding: 0px;
}

ul li {
  border-bottom: 1px solid grey;
  display: block;
/*  line-height: 40px;
  min-height: 40px;*/
  padding: 10px 10px;
  vertical-align: center;
}

ul.edgetoedge {
  border-width: 1px 0px;
  margin: 0px;
}

ul.rounded {
  -webkit-border-radius: 5px;
}

ul li:last-child {
  border: none;
}

a {
  text-decoration: none;
  color: black;
}
/*
a.location {
  display: inline-block;
  position: relative;
  right: 0px;
  text-align: right;
  width: 80%;
}*/

fieldset{
  border: none;
  margin: 0px;
  padding: 0px;
}

button, input[type="text"], input[type="password"] {
  border: none;
  background: none;
  color: black;
  display: block;
  font: inherit;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  text-align: left;
}

select {
  border: none;
  background: none;
  font: inherit;
  display: inline-block;
}

select.month, select.hour {
  width: 40%;
  text-align: right;
}

select.year, select.midi {
  width: 40%;
}

select.day, select.minute {
  width: 20%;
  text-align: center;
}

button .vehicle-name {
  display: inline-block;
}

button .availability {
  color: #404040;
  display: block;
  font-size: 12px;
  padding-left: 5px;
}

button:hover {
  cursor: pointer;
}

button[disabled="disabled"] {
  color: #808080;
  text-decoration: line-through;
}

.hidden {
  display: none;
}

/* Here are the styles for parameters at the top of a screen, e.g. on the 
 * 'Choose a Vehicle' screen.
 */
ul.screenparams {
  display: table;
}

ul.screenparams li {
  display: table-row;
}

ul.screenparams li label, ul.screenparams li a {
  border-top: 1px solid grey;
  display: table-cell;
  padding: 10px;
}

ul.screenparams li a {
  overflow: hidden;
  text-align: right;
  text-overflow: ellipsis;
  width: 100%;
}


